.cardDisplay {
    background: rgb(235, 235, 235);
    min-height: 180px;
    min-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.green {
    border-bottom: 3px solid rgb(18, 146, 18);
}

.blue {
    border-bottom: 3px solid rgb(20, 20, 116);
}

.red {
    border-bottom: 3px solid rgb(131, 13, 13);
}

.loading {
    height: 170px;
    width: 170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 160px;
    width: 220px;
}

.searchBox {
    background: white;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 620px;
    top: 180px;
}

.countries {
    height: 30px;
    width: 120px;
}