.chart {
    width: 90%;
    height: 5000px;
    margin: auto;
}

.porgBox {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 50px;
}